app/build
.gradle
gradle/*
!gradle/wrapper/gradle-wrapper.jar
!gradle/wrapper/gradle-wrapper.properties
*.iml
.idea
*.swp
local.properties
.DS_Store
/build
bin/
gen/
out/
/key
/app/key
*.apk
*.jks
*.keystore
signing.properties

